<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ReportServlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<description>CTPics</description>
		<display-name>CTPics</display-name>
		<servlet-name>CTPics</servlet-name>
		<servlet-class>universsky.ct.report.CTPics</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CTPics</servlet-name>
		<url-pattern>/pic</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>CTCpuUsage</description>
		<display-name>CTCpuUsage</display-name>
		<servlet-name>CTCpuUsage</servlet-name>
		<servlet-class>universsky.ct.report.CTCpuUsage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CTCpuUsage</servlet-name>
		<url-pattern>/cpu</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>TCResultServlet</description>
		<display-name>TCResultServlet</display-name>
		<servlet-name>TCResultServlet</servlet-name>
		<servlet-class>qjd.uitest.dao.TCResultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TCResultServlet</servlet-name>
		<url-pattern>/tc</url-pattern>
	</servlet-mapping>


</web-app>